.container {
    width: 1200px;
}

#loadingIndicator {
    background: url('/img/loading_dots.gif') no-repeat center;
    height: 30px;
    margin-bottom: 15px;
}

.width100 {
    width: 100%;
}

form .btn, form.ng-valid .btn[disabled] {
    display: none;
}
form.ng-invalid .btn[disabled], form.ng-valid .btn {
    display: inline-block;
}