<form class="form-horizontal" id="createContractForm" name="createContractForm" ng-submit="create()" novalidate>
    <legend><h3 class="text-center">Utwórz zlecenie</h3></legend>
    <div class="control-group">
        <label class="control-label" for="inputName">Nazwa</label>

        <div class="controls">
            <input type="text" id="inputName" name="inputName" placeholder="Nazwa" ng-model="contract.name" required
                   class="input-block-level">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputDescription">Opis</label>

        <div class="controls">
            <textarea id="inputDescription" name="inputDescription" placeholder="Opis" ng-model="contract.description" rows="6" required
                      class="input-block-level"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPublishStart">Start publikacji</label>

        <div class="controls">
            <input type="text" id="inputPublishStart" name="inputPublishStart" placeholder="Start publikacji" datetimepicker=""
                   ng-model="contract.publishStart" required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputPublishEnd">Koniec publikacji</label>

        <div class="controls">
            <input type="text" id="inputPublishEnd" name="inputPublishEnd" placeholder="Koniec publikacji" datetimepicker=""
                   ng-model="contract.publishEnd" required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="maxPrice">Cena maksymalna</label>

        <div class="controls">
            <input type="text" id="maxPrice" name="maxPrice" placeholder="Cena maksymalna" ng-model="contract.maxPrice" required>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Kategorie</label>

        <div class="controls">
            <button id="openAddCategory" type="button" class="btn btn-primary" ng-click="openAddCategory()">Dodaj</button><br>
            <ul class="selected-categories">
                <li ng-repeat="category in selectedCategories">{{category.name}}<button type="button" ng-click="removeCategory(category)" class="close" style="padding-left: 6px;">&times;</button></li>
            </ul>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-block btn-danger btn-large" ng-disabled="!createContractForm.$valid">
            Utwórz
        </button>
    </div>
</form>

<div modal="shouldAddCategoryBeOpen" close="closeAddCategory()" options="addCategoryModalOpts" ng-init="initCategories()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeAddCategory()">&times;</button>
        <h3 class="modal-title">Dodaj kategorie</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="addCategoryForm" name="addCategoryForm" novalidate>
            <div class="control-group">
                <label class="control-label">Kategoria</label>

                <div class="controls">
                        <select ng-model="selected" ng-options="item.id as item.name for item in availableCategories"
                                id="categorySelect"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeAddCategory()">Cancel</button>
        <button class="btn btn-danger" ng-disabled="!addCategoryForm.$valid" ng-click="addCategory()">Dodaj</button>
    </div>
</div>