<div ng-init="initContract()">
    <div class="row-fluid">
        <div class="span3 details-publisher"><h4 class="details-publisher-header">Wystawiajacy</h4>
            <a href="#/profile/{{contract().account.id}}">{{contract().account.user.firstName}}
            {{contract().account.user.lastName}}{{contract().account.company.name}}</a><br/></div>
        <div class="span6 details-name"><h4 class="details-name-header">Nazwa</h4>{{contract().name}}</div>
        <div class="span3 details-myoffer">
            <div ui-if="isOfferAllowed() == true">
                <h4 class="details-name-header">Moja oferta</h4>

                <div style="margin-bottom: 15px " ui-if="getOffer().id != undefined">
                    <h5>Cena</h5>
                    {{getOffer().offerPrice}} zł
                    <h5>Czas</h5>

                    <div offerTime="" ng-model="offer"></div>
                </div>
                <button class="btn btn-danger btn-block" type="button" ng-click="openAddOffer()"
                        ui-if="getOffer().id == undefined">Złóż ofertę
                </button>
                <button class="btn btn-danger btn-block" type="button" ng-click="openAddOffer()"
                        ui-if="getOffer().id != undefined && (getOffer().removed == undefined || !getOffer().removed)">Modyfikuj ofertę
                </button>
                <button class="btn btn-danger btn-block" type="button" ng-click="removeOffer()"
                        ui-if="getOffer().id != undefined && (getOffer().removed == undefined || !getOffer().removed)">Usuń ofertę
                </button>
                <button class="btn btn-danger btn-block" type="button" ng-click="reopenOffer()"
                        ui-if="getOffer().id != undefined && getOffer().removed">Przywróć ofertę
                </button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 details-description">
            <h4>Opis</h4>{{contract().description}}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 details-price-time">
            <div class="span6 details-price">
                <h4>Cena maksymalna</h4>{{contract().maxPrice}} zł
            </div>
            <div class="span6 details-time">
                <h4>Czas maksymalny</h4>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 details-categories">
                <h4>Kategorie</h4>
                <ul class="contract-categories">
                    <li ng-repeat="category in contract().categories">{{category.name}}</li>
                </ul>
        </div>
    </div>

    <h3>Oferty</h3>

    <div class="span12 details-nooffer" ui-if="contract().offers.length <= 0">Brak ofert</div>

    <div class="row-fluid" ui-if="contract().offers.length > 0">
        <div class="span2">Wystawiający</div>
        <div class="span4">Komentarz</div>
        <div class="span3">Czas</div>
        <div class="span3">Cena (zł)</div>
    </div>

    <div ng-repeat="offer in contract().offers" class="row-fluid findListRow" ng-class="{offerRemoved: removed(offer)}">
        <div class="span2 offer-account"><a href="#/profile/{{offer.account.id}}">{{offer.account.user.firstName}}
            {{offer.account.user.lastName}}{{offer.account.company.name}}</a>
        </div>
        <div class="span4 offer-comment">{{offer.comment}}</div>
        <div class="span3 offer-time" offerTime="" ng-model="offer"></div>
        <div class="span3 offer-price">{{offer.offerPrice}}</div>
    </div>
</div>

<div modal="shouldAddOfferBeOpen" close="closeAddOffer()" options="addOfferModalOpts">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeAddOffer()">&times;</button>
        <h3 class="modal-title">Moja oferta</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="addOfferForm" name="addOfferForm" novalidate>
            <div class="control-group">
                <label class="control-label" for="addOfferComment">Komentarz</label>

                <div class="controls">
                    <textarea id="addOfferComment" name="addOfferComment" placeholder="Komentarz" rows="3" required
                              class="input-block-level" ng-model="tmpOffer.comment"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="addOfferPrice">Cena (zł)</label>

                <div class="controls">
                    <input type="text" id="addOfferPrice" name="addOfferPrice" placeholder="Cena"
                           ng-model="tmpOffer.offerPrice" required>
                </div>
            </div>
            <h4>Czas</h4>

            <div class="control-group">
                <label class="control-label" for="timeYears">Lat</label>

                <div class="controls">
                    <input type="text" id="timeYears" name="timeYears" placeholder="Lat" ng-model="tmpOffer.years">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="timeMonths">Miesięcy</label>

                <div class="controls">
                    <input type="text" id="timeMonths" name="timeMonths" placeholder="Miesięcy"
                           ng-model="tmpOffer.months">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="timeDays">Dni</label>

                <div class="controls">
                    <input type="text" id="timeDays" name="timeDays" placeholder="Dni" ng-model="tmpOffer.days">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="timeHours">Godz</label>

                <div class="controls">
                    <input type="text" id="timeHours" name="timeHours" placeholder="Godz" ng-model="tmpOffer.hours">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeAddOffer()">Cancel</button>
        <button class="btn btn-danger" ng-disabled="!addOfferForm.$valid" ng-click="createOffer()">Zapisz</button>
    </div>
</div>