<div ng-init="initProfile()">
    <div class="row-fluid profile-row">
        <div class="span3">Typ konta</div><div class="span9" ui-if="account().personal">Osoba indywidualna</div><div class="span9" ui-if="!account().personal">Firma</div>
    </div>
    <div class="row-fluid profile-row" ui-if="account().personal">
        <div class="span3">Imię</div><div class="span9">{{account().user.firstName}}</div>
    </div>
    <div class="row-fluid profile-row" ui-if="account().personal">
        <div class="span3">Nazwisko</div><div class="span9">{{account().user.lastName}}</div>
    </div>
    <div class="row-fluid profile-row" ui-if="!account().personal">
        <div class="span3">Nazwa</div><div class="span9">{{account().company.name}}</div>
    </div>
    <div class="row-fluid profile-row" ui-if="!account().personal">
        <div class="span3">Opis</div><div class="span9">{{account().company.description}}</div>
    </div>
    <div class="row-fluid profile-row">
        <div class="span3">Email</div><div class="span9">{{account().email}}</div>
    </div>
</div>