<div ui-if="!auth.isAuthorized()">
    <h3 class="text-center">Zaloguj się</h3>

    <form ng-submit="login()" novalidate>
        <div class="control-group">
            <label>Login</label>
            <input type="text" name="login" ng-model="credentials.login" required class="input-block-level">
        </div>
        <div class="control-group">
            <label>Hasło</label>
            <input type="password" name="password" ng-model="credentials.password" required class="input-block-level">
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-block btn-primary">Login</button>
                <button class="btn btn-block btn-primary" disabled>Login</button>
            </div>
        </div>
    </form>

    <a href="#/register" class="btn btn-block btn-danger">Załóż konto</a>
</div>

<div ui-if="auth.isAuthorized()" ng-init="initAccount()">
    <div ui-if="account().personal">{{account().user.firstName}} {{account().user.lastName}}</div>
    <button ng-click="logout()" class="btn btn-danger btn-block">Logout</button>
</div>